body{
    width: 1200px;
    margin: 0 auto;
}
article{
    padding-left: 15px;
    padding-right: 15px;
}
article + article{
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #c5c5c5;
}
p{
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #6063e2e8;
}
.post-time{
    text-align: right;
    font-style: italic;
    display: inline-block;
    font-size: 90%;
    margin-left: 30px;

}
.postinfo{
    text-align: right;
    text-transform: capitalize;
}
.foobar{
    background-color: #ccc;
}
header{
    border-bottom: 1px solid #c5c5c5;
    padding: 15px 0;
    margin-bottom: 30px;
}
.menu{
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    padding: 0 15px;
    margin: 0;
}
.menu li{
    display: inline-block;
    padding: 10px; 5px
}
